.tabs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tab {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px;
}

.tab-text {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 1.5;
	margin: 10px 0 0 50px;
	transition: all linear 300ms;
	position: relative;
}

.tab-text::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: var(--primary);
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all linear 500ms;
}

.vertical-line {
	height: 36px;
	width: 3px;
	background-color: var(--primary);
	opacity: 0;
	transition: all linear 500ms;
}

.tab:hover .vertical-line {
	opacity: 1;
}

.tab:hover .tab-text {
	color: var(--primary);
}

.tab.active .vertical-line,
.tab.active .tab-text {
	opacity: 1;
	color: var(--primary);
}

@media (max-width: 992px) {
	.tabs {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.tab-text {
		font-size: 22px;
		margin-left: 10px;
	}

	.tab-text:hover::before {
		opacity: 1;
	}

	.tab.active .tab-text::before {
		opacity: 1;
	}

	.tab:hover .vertical-line {
		opacity: 0;
	}

	.tab.active .vertical-line {
		opacity: 0;
	}
}
